<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latest Tea</title><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <a href="/"><h1>Sips Tea</h1></a>
    
    <form action="{{ url_for('search') }}" method="GET">
        <input type="text" name="q" placeholder="Search For Keyword">
        <button type="submit">Search</button>
    </form>
    <form method="get" action="/filter">
           <select name="category" id="category">
            <option value="All" {% if selected_category == 'All' %}selected{% endif %}>All</option>
            {% for category in categories %}
                <option value="{{ category }}" {% if selected_category == category %}selected{% endif %}>{{ category }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>
</header>

{% block content %}{% endblock %}
</body>
</html>